* {
  margin: 0;
  padding: 0;
}

#title {
  margin: 10px;
}

#color-palette {
  margin: 10px;
}

.color {
  width: 40px;
  height: 40px;
  display: inline-block;
  border: 1px solid black;
}

#button-random-color, #clear-board {
  margin: 0 0 0 10px;
  padding: 5px;
}

#pixel-board {
  margin: 15px 10px;
}

.line {
  line-height: 0px;
}

.pixel {
  width: 40px;
  height: 40px;
  background-color: white;
  border: 1px solid black;
  display: inline-block;
}
