* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
}

#title {
  margin: 10px;
}

#color-palette {
  margin: 10px;
}

.color {
  width: 40px;
  height: 40px;
  display: inline-block;
  border: 1px solid black;
}

#button-random-color , #clear-board , #board-size , #generate-board {
  padding: 5px;
}

#clear-board , #generate-board {
  margin: 0 0 0 10px;
}

#board-size {
  width: 140px;
}

#pixel-board {
  margin: 15px 10px;
}

.line {
  line-height: 0px;
}

.pixel {
  width: 40px;
  height: 40px;
  background-color: white;
  border: 1px solid black;
  display: inline-block;
}
